@import '../../../styles/variables';

.comment-box-container {
	width: 90%;
	margin: 40px auto;
	padding: 15px;
	background: #1c262b;
	border-radius: 15px;
	font-family: $primary-font;
	max-height: 500px;
	overflow-y: scroll;

	h5 {
		margin: 0;
	}

	h4,
	h5 {
		padding-left: 80px;
	}
}
