@import '../../../styles/variables';

.cast-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-gap: 1rem;
    justify-items: center;
    justify-content: center;
    padding-top: 50px;
    background: $primary-color;
    border-radius: 15px;
}