@import "../../styles/variables";

.nav-panel {
  background-color: $tertiary-color;
  height: 50px;
  border: 2px solid $secondary-color;
  border-radius: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;

  .logo {
    background-color: #ddd;
    margin-left: 2vw;
    height: 90%;
    width: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 28px;
    }
  }

  &-control-list {
    margin-right: 1.5vw;
  }
  a {
    display: inline-block;
  }

  .main-nav-bottom-section__button {
    height: 32px;
    border-radius: 10px;
    margin: 10px;
    color: rgba(219, 69, 69, 0.9);
    background: #000;
    font-family: $primary-font;
    font-weight: 700;
    cursor: pointer;
  }
}

.nav-mobile {
  display: none;
}


@media only screen and (max-width: 526px) {
  .nav-panel-control-list {
    position: absolute;
    right: -100px;
    top: 60px;
    height: 150px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition-delay: 200ms;
    transition-duration: 300ms;
    overflow: hidden;


    .main-nav-bottom-section__button {
      height: 24px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
  .nav-panel {
    justify-content: space-around;
    overflow: hidden;

    a {
      text-align: center;
    }

    .nav-panel-control-list.open {
      right: 5px;
    }
  }

  .nav-mobile {
    position: relative;
    display: block;
    height: 30px;
    width: 43px;
    background-color: #555;
    border-radius: 50%;

    &-trigger {
      display: block;
      position: absolute;
      top: 3px;
      right: 15px;
      transform: translate(50%) rotate(45deg);
      height: 20px;
      width: 20px;
      z-index: 2;
      background: linear-gradient(135deg,#000 24%, #fff 28%,#000 32%,#000 49%, #fff 53%,#000 57%,#000 74%, #fff 78%,#000 82%);
      border: 2px solid rgba(219, 69, 69, 0.81);
      border-radius: 8px;
      transition-duration: 800ms;
    }
  
    &-trigger.open {
      background: linear-gradient(135deg,#fff 24%, #000 28%,#fff 32%,#fff 49%, #000 53%,#fff 57%,#fff 74%, #000 78%,#fff 82%);
      transform: rotate(225deg);
    }
  }
}
