@import './../../../styles/variables';

.discover-item {
  position: relative;

    &__image {
        height: 200px;
        border-radius:10px;
        border: 0.7px solid #42a5f5;
        opacity: 0.6;
        transition: 200ms
    }
    :hover {
        opacity: 1;
    }

    &__rating {
        position: absolute;
        left:1px;
        top: 0;
        background: #ccc;
        color: $tertiary-color;
        padding: 5px;
        opacity: 0.8;
      }

    &__title {
        color: #ccc
    }
}
